.movie-page {
    color: #fff;
    display: flex;
    flex-direction: column;
    max-width: 660px;
    margin: 2rem auto;

}

.movie-page svg {
    font-size: 1rem;
    color: #f7d354;
}

.movie-page .movie-card img{
    width: 340px;
    margin-bottom: 0.8rem;
}

.movie-page .movie-card {
    text-align: center;
}

.movie-page .movie-card h2,
.movie-page .movie-card p {
    margin-bottom: 0.6rem; 
    font-size: 1.3rem;
}


.movie-page .movie-card p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}

.tagline {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}


.info {
    /* margin-bottom: 1.5rem; */
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.info p {
    margin: 0 15px 0 5px;
}

.info h3 {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-size: 1rem;
}

.description {
    padding-bottom: 2rem;
}

.description p {
    line-height: 1.4rem;
}